<div class="container mt-4">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <div class="card shadow-sm text-center mb-4">

        <div class="card-body">

          <h1 class="mb-3 text-dark">

            <%= @user.name %>

          </h1>

          <p class="text-muted">

            <%= @user.profile.present? ?
                @user.profile : "自己紹介未設定" %>
          
          </p>

          <p>

            <%= link_to "フォロー #{@user.followings.count}",
                followings_user_path(@user),
                class: "text-dark text-decoration-none me-3" %>

            <%= link_to "フォロワー #{@user.followers.count}",
                followers_user_path(@user),
                class: "text-dark text-decoration-none" %>

          </p>

          <% if user_signed_in? %>

          <% if @user == current_user %>

              <%= link_to "プロフィール編集",
                edit_user_path(@user),
                class: "btn btn-outline-dark btn-sm mt-2" %>
              <% end %>

            <% unless @user == current_user %>

              <% if current_user.followings.include?(@user) %>

                <%= button_to "フォロー解除",
                    user_relationships_path(@user),
                    method: :delete,
                    class: "btn btn-outline-dark btn-sm" %>

              <% else %>

                <%= button_to "フォロー",
                    user_relationships_path(@user),
                    class: "btn btn-dark btn-sm" %>

              <% end %>

            <% end %>

          <% end %>

        </div>

      </div>




      <% @user.cats.each do |cat| %>

      <div class="mb-5">
    
         <h2 class="mb-4">

          🐱
          <%= link_to cat.name,
              cat_path(cat),
              class: "text-white text-decoration-none" %>
        
         </h2>
    
        <div class="row">
    
          <% cat.posts.each do |post| %>
    
            <div class="col-md-6">
    
              <div class="card mb-4 shadow-sm">
    
                <% if post.image.attached? %>
    
                  <%= image_tag post.image,
                      class: "card-img-top post-image" %>
    
                <% end %>
    
                <div class="card-body">
    
                  <h3 class="card-title">
    
                    <%= link_to post.title,
                        post_path(post),
                        class: "text-dark text-decoration-none" %>
    
                  </h3>
    
                  <p class="card-text text-dark">
    
                    <%= post.body %>
    
                  </p>
    
                  <p class="text-muted">
    
                    ❤️ <%= post.likes.count %>
    
                    <span class="ms-3">
                      💬 <%= post.comments.count %>
                    </span>
    
                  </p>
    
                </div>
    
              </div>
    
            </div>
    
          <% end %>
    
        </div>
    
      </div>
    
    <% end %>