<h1>投稿を編集</h1>

<%= form_with model: @post, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "本文" %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "更新する" %>
<% end %>