<h1>猫プロフィール編集</h1>

<%= form_with model: @cat do |f| %>

  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :gender, "性別" %>
    <%= f.select :gender,
        ["男の子", "女の子"] %>
  </div>

  <div>
    <%= f.label :age, "年齢" %>
    <%= f.number_field :age %>
  </div>

  <div>
    <%= f.label :introduction, "自己紹介" %>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :image, "猫画像" %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>

<% end %>