<% if @cat.image.attached? %>
  <%= image_tag @cat.image, size: "200x200" %>
<% end %>

<h1><%= @cat.name %> のページ</h1>

<p>
  飼い主：
  <%= link_to @cat.user.name, user_path(@cat.user) %>
</p>

<% if @cat.user == current_user %>
  <%= link_to "プロフィール編集", edit_cat_path(@cat) %>
<% end %>

<p>
  年齢：
  <%= @cat.age.present? ? "#{@cat.age}歳" : "未設定" %>
</p>

<p>
  自己紹介：
  <%= @cat.introduction.present? ? @cat.introduction : "未設定" %>
</p>

<h2>投稿一覧</h2>

<% @posts.each do |post| %>
  <div>
    <p>タイトル：<%= post.title %></p>
    <p>内容：<%= post.body %></p>

    <% if post.image.attached? %>
      <%= image_tag post.image, size: "200x200" %>
    <% end %>

    <hr>
  </div>
<% end %>